/* Joseph Dubon CSS Reset/Starter File
   v1.0 | 20200615
   License: MIT
*/

/* Reset Box-Sizing */
:root {
    box-sizing: border-box;
}

/* Maze CSS Starts Here */

header {
    text-align: center;
}

#maze {
    height: 500px;
    background-color: rgb(255, 150, 203);
    display: flex;
    flex-flow: column nowrap;
}

.row {
    display: flex;
    flex-grow: 1;
}

.block {
    flex-grow: 1;
}

.block.wall {
    background-color: rgb(0, 204, 255);
    box-shadow: 4px 4px rgb(64, 240, 240);
}

.block.start {
    background-color: rgb(42, 42, 42);
    box-shadow: 4px 4px rgb(144, 144, 144);
}

.block.finish {
    background-color: rgb(204, 61, 61);
    box-shadow: 4px 4px rgb(144, 144, 144);
}

#startChar {
    background-color: whitesmoke;
    position: relative;
    top: 0;
    left: 0;
}