/* Joseph Dubon CSS Reset/Starter File
   v1.0 | 20200615
   License: MIT
*/

/* Reset Box-Sizing */
:root {
    box-sizing: border-box;
}

/* Maze CSS Starts Here */

header {
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
}

#maze {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
    color: white;
    height: 500px;
    width: 500px;
}

.row {
    display: flex;
    flex-grow: 1;
    width: 420px;
    height: 20px;
    white-space: pre;
}

.block {
    width: 20px;
    height: 20px;
    display: inline-flex;
    white-space: pre;
    border: 1px black;
    flex-grow: 1;
}

.block.wall {
    background-color: rgb(101, 245, 255);
}

.block.start {
    background-color: rgb(255, 255, 255);
}

.block.finish {
    background-color: rgb(241, 0, 0);
}

.block#startChar {
    background-color: rgb(255, 0, 0);
    position: relative;
}

#player {
    background: url(../images/mario.png) no-repeat center center;
    background-size: contain;
    width: 20px;
    height: 20px;
    position: relative;
    top: 0;
    left: 0;
}